[submodule "optix"]
	path = optix
	url = https://github.com/lccatala/optix-tfm
[submodule "vulkan-rasterized"]
	path = vulkan-rasterized
	url = https://github.com/lccatala/VulkanTesting
[submodule "vulkan"]
	path = vulkan
	url = https://github.com/lccatala/vulkan-tfm
